<p>
You have requested to change your password. please click the button below to change your password.
</p>

<div style="height: 25px; width: 150px; cursor: pointer; background: blue; text-align: center; color: white;" onclick="window.open('{{ verify_url }}', '_blank')">
Change Password
</div>